<h1>Create Ticket</h1>
<form action="/create" method="POST">
  <input name="name" placeholder="Name" required><br>
  <input name="email" placeholder="Email" required><br>
  <textarea name="issue" placeholder="Issue"></textarea><br>
  <button type="submit">Submit</button>
</form>